<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
        <CloudWatchAppender name="cloudwatch" group="log4j2" streamPrefix="test" streamPostfix="main">
            <PatternLayout pattern="%-5level [%t] %logger{1} - %msg%n"/>
        </CloudWatchAppender>
	</Appenders>
	<Loggers>
		<Root level="debug">
            <AppenderRef ref="cloudwatch"/>
		</Root>
	</Loggers>
</Configuration>
